@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Readex+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Readex Pro", sans-serif;
}

p,
a {
  @apply text-lg;
}

a {
  @apply text-blue-400 hover:underline;
}

body {
  @apply bg-white text-black;
}

.w-fitcontent {
  width: fit-content;
}
