@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Readex+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Readex Pro", sans-serif;
  background-color: #bfc9ca;
}

p,
a {
  @apply text-lg;
}

a {
  @apply text-darkGreen hover:underline;
}

body {
  @apply text-black;
}

.w-fitcontent {
  width: fit-content;
}
